/* pagina servicios*/

.divServicios{
    display: flex;
    justify-content: center;
    .imgServicios{
        width: 25%;
        
    }
}


/*color textos*/
div h3{
    color: red;
    margin: 5px;
    font-size: 25px;
    p{
        color: red
    }
}

main h2{
    color: red;
    text-align: center;
    margin: 10px;
}
    
       
    